.photo-submit-container {
    max-width: 400px;
    margin: 3rem auto;
    padding: 1rem 1.5rem;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(23, 105, 170, 0.1);
    text-align: center;
  }
  .photo-submit-title {
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: #1769aa;
  }
  .photo-input {
    margin-bottom: 1.2rem;
    font-size: 1rem;
  }
  .photo-button {
    padding: 0.6rem 1.2rem;
    background-color: #1769aa;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .photo-button:hover {
    background-color: #0f4d75;
  }
  .photo-preview {
    width: 400px;
    height: auto;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.preview-container {
    margin-top: 10px;
}
.example-box {
  margin-top: 20px;
  text-align: center;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 8px;
}

.example-title {
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

.example-images-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.example-image {
  width: 300px;
  height: auto;
  border-radius: 8px;
  border: 1px solid #ccc;
  object-fit: cover;
}
